@use '../../styles/variables' as *;

.mainPage {
    height: 100%;
}

.mainBackground {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    .top,
    .bottom {
        flex: 1;
    }

    .top {
        background: var(--primary-soft);
        max-height: 40%;
    }

    .bottom {
        background: var(--bg);
    }
}