.l1 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l2 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l3 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l4 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l5 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l6 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l7 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l8 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l9 {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.l10 {
    position: absolute;
    inset: 0;
    pointer-events: none;
    text-align: right;
}
