JWT_ACCESS_SECRET=SECRET_KEY
JWT_REFRESH_SECRET=SECRET_KEY_JWT_REFRESH_SECRET

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=demoDb
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"